*.o
*.d
*~
.settings
.cproject
.project
tetgen-tmpfile*
doc/*
!doc/*.doxyfile
dealii/*
!dealii/dealii-*.tar.gz
lib/libtet.a
lib/libfemocs.a
lib/libfemocs.mod
lib/build/**/*
output/*
release/femocs
release/build/**/*
cgal/*
!cgal/CGAL*.zip
Makefile
in/md.in
tmpfile

