*.o
*.d
*~
.settings
.cproject
.project
tetgen-tmpfile*
doc/*
!doc/*.doxyfile
dealii/*
!dealii/dealii-*.tar.gz
cgal/*
!cgal/CGAL*.zip
lib/libtet.a
lib/libfemocs.a
lib/libfemocs.mod
build/femocs*
build/build/**/*
in/md.in
out/*
tmpfile

